* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}

#map {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  border: solid 2px;
  border-color: blue;
  border-radius: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.camerasOnRoute {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}

.title {
  margin: 30px;
  text-align: center;
  font-size: 25px;
}

#floating-panel {
  margin-top: 30px;
  text-align: center;
}

#floating-panel input {
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
