<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3e6a1a4b37a17f888f3660e20ad4d887 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3e6a1a4b37a17f888f3660e20ad4d887" ></div>
        
</body>
<script>
    
    
            var map_3e6a1a4b37a17f888f3660e20ad4d887 = L.map(
                "map_3e6a1a4b37a17f888f3660e20ad4d887",
                {
                    center: [59.3293, 18.0686],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c44a14ec48acaee0e7b140dd1986d475 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c44a14ec48acaee0e7b140dd1986d475.addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
            var marker_cac1036f15bbcb0820e7b6f661ac971f = L.marker(
                [59.19086684682413, 17.628328859690374],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_cd37228797350841b0d13643bf632fd1 = L.popup({"maxWidth": "100%"});

        
            
                var html_5d6d1e2c1972393d6a3dfdb810c3ed9e = $(`<div id="html_5d6d1e2c1972393d6a3dfdb810c3ed9e" style="width: 100.0%; height: 100.0%;">Train 25262</div>`)[0];
                popup_cd37228797350841b0d13643bf632fd1.setContent(html_5d6d1e2c1972393d6a3dfdb810c3ed9e);
            
        

        marker_cac1036f15bbcb0820e7b6f661ac971f.bindPopup(popup_cd37228797350841b0d13643bf632fd1)
        ;

        
    
    
            var marker_dd2f9a7115a0fad6430114b2b383b9bc = L.marker(
                [56.16653632591288, 15.585130692977572],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_0a864d359b546473565108695c5c6163 = L.popup({"maxWidth": "100%"});

        
            
                var html_c721cdb39291b1096ba329f5421620e3 = $(`<div id="html_c721cdb39291b1096ba329f5421620e3" style="width: 100.0%; height: 100.0%;">Train 8661</div>`)[0];
                popup_0a864d359b546473565108695c5c6163.setContent(html_c721cdb39291b1096ba329f5421620e3);
            
        

        marker_dd2f9a7115a0fad6430114b2b383b9bc.bindPopup(popup_0a864d359b546473565108695c5c6163)
        ;

        
    
    
            var marker_0ca72296b047186b9def225f8d63d82c = L.marker(
                [57.11192703628916, 12.248836951948988],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_2f8881259a160f2464c453b88dfcefc3 = L.popup({"maxWidth": "100%"});

        
            
                var html_92e8ac8f85ed68a319eba82a80b56c3f = $(`<div id="html_92e8ac8f85ed68a319eba82a80b56c3f" style="width: 100.0%; height: 100.0%;">Train 3837</div>`)[0];
                popup_2f8881259a160f2464c453b88dfcefc3.setContent(html_92e8ac8f85ed68a319eba82a80b56c3f);
            
        

        marker_0ca72296b047186b9def225f8d63d82c.bindPopup(popup_2f8881259a160f2464c453b88dfcefc3)
        ;

        
    
    
            var marker_ca282357e36d1d213888c1e6e11ba3e5 = L.marker(
                [59.61988149845042, 16.220330768141654],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_c63564ca18336f12c8cbc21ed6c94ba0 = L.popup({"maxWidth": "100%"});

        
            
                var html_71c1f0e998499e4e74dcf1c6cc29e3d2 = $(`<div id="html_71c1f0e998499e4e74dcf1c6cc29e3d2" style="width: 100.0%; height: 100.0%;">Train 8057</div>`)[0];
                popup_c63564ca18336f12c8cbc21ed6c94ba0.setContent(html_71c1f0e998499e4e74dcf1c6cc29e3d2);
            
        

        marker_ca282357e36d1d213888c1e6e11ba3e5.bindPopup(popup_c63564ca18336f12c8cbc21ed6c94ba0)
        ;

        
    
    
            var marker_cf959d284e4bc6579a95a6015cab8c68 = L.marker(
                [57.754694461929326, 16.636161402878603],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_95ea179d37147181833d529dcb4622cd = L.popup({"maxWidth": "100%"});

        
            
                var html_d82dc54d2830c738b9b31b4c9783d1c0 = $(`<div id="html_d82dc54d2830c738b9b31b4c9783d1c0" style="width: 100.0%; height: 100.0%;">Train 89119</div>`)[0];
                popup_95ea179d37147181833d529dcb4622cd.setContent(html_d82dc54d2830c738b9b31b4c9783d1c0);
            
        

        marker_cf959d284e4bc6579a95a6015cab8c68.bindPopup(popup_95ea179d37147181833d529dcb4622cd)
        ;

        
    
    
            var marker_bb3d4748a9497473c311fe2ff4a21319 = L.marker(
                [59.60703407323409, 16.551161827592118],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_7c9e2ecaddec639f1ce6216e83aea247 = L.popup({"maxWidth": "100%"});

        
            
                var html_064c0003e0cd7a430440616843d4ce37 = $(`<div id="html_064c0003e0cd7a430440616843d4ce37" style="width: 100.0%; height: 100.0%;">Train 176</div>`)[0];
                popup_7c9e2ecaddec639f1ce6216e83aea247.setContent(html_064c0003e0cd7a430440616843d4ce37);
            
        

        marker_bb3d4748a9497473c311fe2ff4a21319.bindPopup(popup_7c9e2ecaddec639f1ce6216e83aea247)
        ;

        
    
    
            var marker_2082d61a4c33fef1f3e460b9e5833d18 = L.marker(
                [59.39764789294154, 15.82780481348333],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_fcb7093ac0b085d8f0ef38ca73e96456 = L.popup({"maxWidth": "100%"});

        
            
                var html_bf41af0259bacf32fdcf02f0799968ee = $(`<div id="html_bf41af0259bacf32fdcf02f0799968ee" style="width: 100.0%; height: 100.0%;">Train 13176</div>`)[0];
                popup_fcb7093ac0b085d8f0ef38ca73e96456.setContent(html_bf41af0259bacf32fdcf02f0799968ee);
            
        

        marker_2082d61a4c33fef1f3e460b9e5833d18.bindPopup(popup_fcb7093ac0b085d8f0ef38ca73e96456)
        ;

        
    
    
            var marker_8dc138b7ed9b46c5d7e1d2350e45c529 = L.marker(
                [57.709304794168354, 11.975002470352093],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_ef6ed1f074c1d2d51cfae41cbe8cba14 = L.popup({"maxWidth": "100%"});

        
            
                var html_ea83287881fd07cdddab846d7ad78754 = $(`<div id="html_ea83287881fd07cdddab846d7ad78754" style="width: 100.0%; height: 100.0%;">Train 177</div>`)[0];
                popup_ef6ed1f074c1d2d51cfae41cbe8cba14.setContent(html_ea83287881fd07cdddab846d7ad78754);
            
        

        marker_8dc138b7ed9b46c5d7e1d2350e45c529.bindPopup(popup_ef6ed1f074c1d2d51cfae41cbe8cba14)
        ;

        
    
    
            var marker_1dffea175e3dedf207b1d303b1ea7313 = L.marker(
                [56.15668252071706, 13.76216774240571],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_447e3b71595835c2d4d1e5c0da041b22 = L.popup({"maxWidth": "100%"});

        
            
                var html_0602c9a12c0d12b1eb4cfa6595d3a262 = $(`<div id="html_0602c9a12c0d12b1eb4cfa6595d3a262" style="width: 100.0%; height: 100.0%;">Train 11830</div>`)[0];
                popup_447e3b71595835c2d4d1e5c0da041b22.setContent(html_0602c9a12c0d12b1eb4cfa6595d3a262);
            
        

        marker_1dffea175e3dedf207b1d303b1ea7313.bindPopup(popup_447e3b71595835c2d4d1e5c0da041b22)
        ;

        
    
    
            var marker_28513974fd5ec1ef5083d15a9926bcdc = L.marker(
                [55.56294067941207, 12.97629739105778],
                {}
            ).addTo(map_3e6a1a4b37a17f888f3660e20ad4d887);
        
    
        var popup_ec2630912f2ee0f171c2e10efd3e4d88 = L.popup({"maxWidth": "100%"});

        
            
                var html_ce7e0b63cef822d43dca062caca7f811 = $(`<div id="html_ce7e0b63cef822d43dca062caca7f811" style="width: 100.0%; height: 100.0%;">Train 1427</div>`)[0];
                popup_ec2630912f2ee0f171c2e10efd3e4d88.setContent(html_ce7e0b63cef822d43dca062caca7f811);
            
        

        marker_28513974fd5ec1ef5083d15a9926bcdc.bindPopup(popup_ec2630912f2ee0f171c2e10efd3e4d88)
        ;

        
    
</script>
</html>